.u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-6-1 .u-group-1 {
  min-height: 109px;
  width: 800px;
  margin: 41px auto 0;
}

.u-section-6-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 10px 0;
}

.u-section-6-1 .u-layout-wrap-1 {
  width: 957px;
  margin: 22px auto 39px 92px;
}

.u-section-6-1 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-6-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6-1 .u-image-1 {
  width: 164px;
  height: 164px;
  background-image: url("images/32e1d1d559de737257f125559608f6f5.jpeg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-6-1 .u-layout-cell-2 {
  min-height: 303px;
}

.u-section-6-1 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 29px 67px 0 35px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-group-1 {
    width: 660px;
  }

  .u-section-6-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6-1 .u-text-1 {
    position: relative;
  }

  .u-section-6-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-1 .u-image-1 {
    width: 135px;
    height: 135px;
    margin-bottom: 30px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-6-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6-1 .u-text-2 {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 60px;
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-group-1 {
    width: 505px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-6-1 .u-image-1 {
    width: 134px;
    height: 134px;
  }

  .u-section-6-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-6-1 .u-group-1 {
    width: 474px;
  }

  .u-section-6-1 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-6-1 .u-image-1 {
    width: 126px;
    height: 126px;
    margin-top: 78px;
  }

  .u-section-6-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-group-1 {
    width: 340px;
  }

  .u-section-6-1 .u-image-1 {
    width: 105px;
    height: 105px;
  }

  .u-section-6-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6-2 {
  background-image: none;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-6-2 .u-group-1 {
  min-height: 109px;
  width: 800px;
  margin: 41px auto 0;
}

.u-section-6-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0;
}

.u-section-6-2 .u-layout-wrap-1 {
  width: 957px;
  margin: 22px auto 39px 92px;
}

.u-section-6-2 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-6-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6-2 .u-image-1 {
  width: 164px;
  height: 164px;
  object-position: 56.85% 50%;
  background-position: 50% 50%;
  background-image: url("images/326f08696b0f3d7a9f28b5635af38ed3.png");
  margin: 20px auto 0;
}

.u-section-6-2 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-6-2 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6-2 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-6-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 34px 104px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-group-1 {
    width: 660px;
  }

  .u-section-6-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6-2 .u-text-1 {
    position: relative;
  }

  .u-section-6-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6-2 .u-image-1 {
    width: 135px;
    height: 135px;
    background-position: 56.85% 50%;
    margin-bottom: 30px;
  }

  .u-section-6-2 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-6-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6-2 .u-text-2 {
    position: relative;
  }

  .u-section-6-2 .u-text-3 {
    margin-right: 97px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-group-1 {
    width: 505px;
  }

  .u-section-6-2 .u-image-1 {
    width: 134px;
    height: 134px;
    margin-top: 31px;
  }

  .u-section-6-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-group-1 {
    width: 474px;
  }

  .u-section-6-2 .u-image-1 {
    width: 126px;
    height: 126px;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-group-1 {
    width: 340px;
  }

  .u-section-6-2 .u-layout-cell-1 {
    min-height: 226px;
  }

  .u-section-6-2 .u-image-1 {
    width: 105px;
    height: 105px;
    margin-left: 17px;
  }

  .u-section-6-2 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-6-2 .u-text-3 {
    margin-top: 14px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/ga0855ab18e65f73a7b1e567660cce27cbf9eeff888dc65baba4716e553e8eb2ac742ba947c1caa363d7b555c6ab7bafc068dce73109a98395f66d32f91f7026d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-image-1 {
  width: 529px;
  height: 457px;
  margin: 158px auto 0;
}

.u-section-1 .u-group-1 {
  width: 739px;
  min-height: 299px;
  margin: -384px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  width: 454px;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  width: 102px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 0 309px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 7px 10px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-image-1 {
    width: 436px;
  }

  .u-section-1 .u-group-1 {
    width: 745px;
    min-height: 464px;
    margin-top: -456px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-right: 133px;
    margin-left: 158px;
  }

  .u-section-1 .u-line-1 {
    width: 84px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 142px;
    margin-left: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-image-1 {
    width: 334px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 65px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
    margin-right: 122px;
    margin-left: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-image-1 {
    width: 313px;
    margin-top: 35px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -387px;
    margin-bottom: 9px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 1px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 61px;
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-1 .u-image-1 {
    width: 263px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
    min-height: 740px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-1 .u-line-1 {
    width: 51px;
    margin-top: 0;
    margin-right: 139px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: -12px;
    margin-left: 12px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/gde4ef2aff65bbcac14b44793a014f19574e618be018a13c2be7578913bc6de3a20ca40dfc40ef30e3cc27e258572f3c2fe7617c21e548c937df0e1519a4bb1d6_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 722px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 161px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-2 .u-shape-1 {
  width: 66px;
  height: 66px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -54px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 21px 0;
}

.u-section-2 .u-text-3 {
  margin: 23px -17px 0 17px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 450px;
}

.u-section-2 .u-shape-2 {
  width: 66px;
  height: 66px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -55px 135px 0 124px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 3rem;
  margin: 35px 21px 0;
}

.u-section-2 .u-text-6 {
  margin: 18px 23px 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 364px;
}

.u-section-2 .u-shape-3 {
  width: 66px;
  height: 66px;
  margin: 33px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -54px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 21px 0;
}

.u-section-2 .u-text-9 {
  margin: 21px 21px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    width: 54px;
  }

  .u-section-2 .u-text-1 {
    width: 45px;
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-2 .u-shape-2 {
    width: 54px;
    margin-left: 124px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 73px;
    margin-left: 129px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 399px;
  }

  .u-section-2 .u-shape-3 {
    width: 54px;
  }

  .u-section-2 .u-text-7 {
    width: 45px;
    position: relative;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 403px;
  }

  .u-section-2 .u-shape-1 {
    width: 66px;
  }

  .u-section-2 .u-text-1 {
    width: 51px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 33px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-2 .u-shape-2 {
    width: 66px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 33px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-3 {
    width: 66px;
    margin-top: 34px;
  }

  .u-section-2 .u-text-7 {
    width: 59px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 33px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -15px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 537px;
  }

  .u-section-2 .u-shape-1 {
    width: 62px;
    margin-top: 154px;
  }

  .u-section-2 .u-text-1 {
    width: 61px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 28px;
    margin-right: -35px;
    margin-left: 35px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-2 .u-shape-2 {
    width: 62px;
  }

  .u-section-2 .u-text-4 {
    width: 49px;
    position: relative;
  }

  .u-section-2 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-2 .u-shape-3 {
    width: 62px;
    margin-top: 55px;
  }

  .u-section-2 .u-text-7 {
    width: 49px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-2 .u-shape-1 {
    width: 52px;
    margin-top: 45px;
  }

  .u-section-2 .u-text-1 {
    width: 47px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin: 18px 12px -51px 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-2 .u-shape-2 {
    width: 52px;
    margin-top: 40px;
  }

  .u-section-2 .u-text-4 {
    width: 47px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 32px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-shape-3 {
    width: 52px;
    margin-top: 57px;
  }

  .u-section-2 .u-text-7 {
    width: 47px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 310px;
}

.u-section-3 .u-image-1 {
  height: 419px;
  filter: brightness(0.45);
  width: 1140px;
  margin: -124px -220px 15px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-3 .u-image-1 {
    height: 265px;
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-3 .u-image-1 {
    height: 199px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 160px;
    height: 150px;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 125px;
    min-height: 0;
    margin-top: -62px;
    margin-bottom: 5px;
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 659px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 171px;
  margin: 36px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 17px 10px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 23px auto 43px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 263px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px 20px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-4 .u-text-3 {
  width: 366px;
  margin: 23px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 281px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-4 .u-text-5 {
  margin: 15px 80px 0 112px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 246px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-4 .u-text-7 {
  margin: 20px 49px 0 104px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 220px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-4 .u-text-9 {
  margin: 20px 17px 15px 104px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 470px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 30px;
    margin-left: 62px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 203px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 32px;
    margin-left: 21px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-4 .u-group-1 {
    width: 529px;
    min-height: 198px;
    margin-top: 38px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-3 {
    width: 350px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-4 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-6 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 270px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-8 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-9 {
    width: NaNpx;
    margin-right: 11px;
    margin-bottom: 25px;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-4 .u-group-1 {
    width: 439px;
    min-height: 208px;
    margin-top: 49px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 183px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 188px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 213px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 235px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 44px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 263px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 5px;
    margin-bottom: 8px;
    margin-left: 86px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/g581fc8bb5d06cf1890eed8dbcf3702bf3f6c3a0517ea830f81d645d55510e2ef4040c738bd8f57cf0601ec0e7478d2935f0c90bc95f6576dcc749513f1b45b4c_1280.jpg');
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 960px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 233px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 418px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 40px 0 0 -20px;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 6rem;
  margin: 31px 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 418px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 100px 31px 0 62px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -13px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 16px;
    padding-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 63px;
    margin-right: 118px;
    margin-left: 50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 42px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: -55px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 6rem;
    position: relative;
    margin-top: 73px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 72px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: -161px;
    margin-right: -29px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 94px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-top: 59px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -38px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 135px;
    margin-right: 6px;
  }
}.u-block-6981-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6981-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2));
  width: 40px;
  height: 40px;
}

.u-block-6981-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  right: calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-block-6981-3 {
    left: calc(((100% - 940px) / 2));
    width: 33px;
    height: 33px;
  }

  .u-block-6981-4 {
    width: 33px;
    height: 33px;
    right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-block-6981-3 {
    left: calc(((100% - 720px) / 2));
    width: 25px;
    height: 25px;
  }

  .u-block-6981-4 {
    width: 25px;
    height: 25px;
    right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-block-6981-3 {
    left: calc(((100% - 540px) / 2)  + -67px);
    width: 24px;
    height: 24px;
  }

  .u-block-6981-4 {
    width: 24px;
    height: 24px;
    right: calc(((100% - 540px) / 2)  + -67px);
  }
}

@media (max-width: 575px) {
  .u-block-6981-3 {
    left: calc(((100% - 340px) / 2)  + -113px);
    width: 20px;
    height: 20px;
  }

  .u-block-6981-4 {
    width: 20px;
    height: 20px;
    right: calc(((100% - 340px) / 2)  + -113px);
  }
}